body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 95%;
    border: 1px black;
    padding: 0px;
    margin: 20px auto;
}
.header{
    background: gray;
    padding: 20px;
    text-align: center;
}
.title{
    font-size: 18px;
}
.red{
    color: red;
}
.nav-row{
    padding: 20px;
    text-align: left;
}
.btn{
    display: inline-block;
    padding: 10px;
    margin: 2px;
    text-decoration: none;
    float: left;
}
.blue{
    background: lightblue;
}

.green{
    background: lightgreen;
}

.clear{
    clear: both;
}



